* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
    line-height:30px;
    background-color: #fcfbec;
    
}
header img{
    width: 400px;
}

.wireframe-box {
    justify-self: center
}

ul li {
    text-align: left;
    margin-left: 2rem;
}

h1 ,h2 ,h3 {
    text-align: center;
}

footer {
    text-align: center;
    
}