* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
    line-height:30px;
    background-color: #fcfbec;
    
}
header img{
    width: 400px;
}

.wireframe-box {
    justify-self: center
}

ul li {
    text-align: left;
    margin-left: 2rem;
}

h1 ,h2 ,h3 {
    text-align: center;
}
.amarelo{
    background-color: #ffcc00;
}

.cinza {
    background-color: #f9f9f9;
}
footer {
    text-align: center;

}

form{
    display: grid;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #ffcc00;
    

}

button{
    background-color: rgb(10, 10, 131);
    color: white;
}
