*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Noto Sans', arial;
	
	
}

.avp input[type="text"], .avp input[type="date"], .avp textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	
	border: 1px solid #ccc;
	border-radius: 4px;
}

form{
	background-color: #f9f7f7;
	padding: 10px;
	border-radius: 5px;
}


select {
	padding: 10px;
	color: #fff;
	background-color:cornflowerblue;
	border-radius: 5px;
}

.opcoes { /*estilizar o checkbox*/
  display: grid;
  grid-template-columns: auto 1fr; /* primeira coluna: checkbox, segunda: texto */
  align-items: center;             /* alinha verticalmente */
  column-gap: 8px;                 /* espaço entre bolinha e texto */
  row-gap: 8px;                    /* espaço entre linhas */
  justify-content: start;          /* tudo alinhado à esquerda */
  margin-bottom: 10px;              /* espaço abaixo do grupo de opções */
  margin-top: 10px;                 /* espaço acima do grupo de opções */
}

.opcoes input[type="checkbox"] {
  justify-self: start;             /* garante que a bolinha fique à esquerda */
}

.opcoes label {
  justify-self: start;             /* texto encostado na bolinha */
}



.opiniao {
	margin-top: 15px;

}




header, main, footer{
	padding: 10px;
	width: 600px;
	margin: 0 auto;
}

h1{

	text-align: center;
	color:cornflowerblue;;
	padding: 10px;
	background-color:beige;
	border: 1px solid #ccc;
	border-radius: 5px;
	
}

.ref {
	margin-bottom: 30px;

}


legend, .saber, .nome, .data, h2 {
	color:cornflowerblue;
	font-size: 18px;
	margin-top: 10px;
}

fieldset {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color:beige;
}

.btn{
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.20);  /* sombra */
	color: #fff;
	background-color:cornflowerblue;
	

}


footer{
	font-size: 12px;
	text-align: center;
	

}




/* stars */
input[type="radio"] {
	display: none; /*Ele remove o elemento da página completamente.*/
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
	padding: 6px;
	
}

.stars > label {
	color: #f6dc19;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #de0e0e;   /*muda cor da estrela quando passa o mousse por cima da estrela*/
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}


/*DIVA DA AVAALIAÇÃO*/


/*

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}
    O que isso cria na prática?
Um sistema de avaliação com estrelas:

☆ ☆ ☆ ☆ ☆ → antes de clicar

★ ★ ★ ☆ ☆ → se você clicar na terceira estrela

★ ★ ★ ★ ★ → se clicar na última*/