
@media screen and (max-width: 500px) {

     header, main, footer{
        width: 100%;
        max-width: 100%;
        margin:0 ;
        padding: 10px;
        background-color:rgb(206, 222, 252);
    }

    legend, .saber, .nome, .data {
	  color:black;
	  font-size: 18px;
	  margin-top: 5px;
      font-weight: bold; /*negrito*/
    }



    footer{
      text-align: center;
      
    }

    html, body {
    overflow-x: hidden;
   }

}