
@media screen and (max-width: 500px) {

    form , header {
        width: 100%;
        background-color:rgb(206, 222, 252);
    }

    legend, .saber, .nome, .data {
	  color:black;
	  font-size: 18px;
	  margin-top: 5px;
      font-weight: bold; /*negrito*/
    }

    form{
        max-width: 100%;
    }

    footer{
      text-align: center;
      
    }

    html, body {
    overflow-x: hidden;
   }

}