
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    background-color: yellow;
    text-align: center;
    padding: 20px;
   

}

.linha {
  height: 10px;
  background-color: #1024d9;
}

/*[ HEADER ]
──────────  ← minha linha (border-bottom)
[ MAIN ]
*/

.clima { /*icone de clima*/
  width: 50px;
  height: 50px;
}


.principal img {
  width: 100%;
  height: auto;
  display: block;
}
section{
  display: inline-block;
  background-color: rgb(255,255,255 ,0.4); /* 40% transparente */
  /*opacity: 0.5; meio transparente. opacity → deixa tudo transparente (texto também). rgba() → deixa só o fundo transparente*/
  padding: 15px ;
}

section h2{

  display: inline-block;     /* deixa a linha só no tamanho do texto */
  padding-bottom: 8px;       /* espaço entre o texto e a linha */
  padding-right: 3rem;       /* aumenta só para um lado */
  background-color: #006400;
  color: #fff;
  font-size: 20px;
}

footer{
    text-align: center;
    background-color: #006400;
    color:#fff;
    padding: 20px;
}

/* que usar no html: <source srcset="imagens/principal-grande.webp" media="(min-width: 1000px)">
               <source srcset="imagens/principal-media.webp" media="(min-width: 500px)">
               <img src="imagens/principal-pequena.webp" alt="Bandeira do Brasil" width="500" height="250">
Deve usar no CSS: principal img {
  width: 100%;
  height: auto;  
  
  display: block é a forma mais comum e mais correta de trabalhar com imagens responsivas.

Ele não muda:
o tamanho da imagem
o comportamento do <picture>
os breakpoints
a responsividade
o layout geral
Só remove aquele espaço indesejado.*/
