*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'open sans', sans-serif ; /* Google fonts */
    font-weight: 400;
}

header span{
    font-size: 23px;
}


/*Menu de navegação*/
.together {
    display: flex;
    /*flex-direction:column; esse só funciona se eu quiser alinhar tudo na mesma linha*/
    justify-content:space-around;
    background-color: #551a8b;
    margin:2px;
    padding:15px;
    color: #fff;
   
}

 ul li a{
    
    color:#fff;
    text-decoration: none; /*remover o sublinhado do menu(os links tem sublinhado)*/ /*Para remover o sublinhado tive que colocar dentro do ul*/
    /*para deicar branco os nomes no menu tive que usar diretamente no (a)*/

}

nav ul{
    display: flex;
    gap: 70px;
    list-style: none; /* sem bolinhas no menu.*/ 
    /*Para remover as bolinhas pretas tive que colocar diretamente no menu nav ul*/
}



main h1{
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 20px;

}


.temple {
    display: grid;
    grid-template-columns: auto auto auto; /* tbm posso usar: 1fr 1fr 1fr */ /*os % dizem o quanto eu quero usar de espaço dentro do grid*/ /*Para diminuir esse espaço, troque para algo mais compacto: auto*/
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    
    
    
}
.temple img{
    width: 250px;
    height: 170px; /* deixa as imagens do mesmo tamnaho */ 


}

 main  {
    width: 800px;
    margin: 0 auto;

}

footer {
     background-color: #551a8b;
     color: #fff;
     padding: 10px;
     text-align: center;

}





/* 
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    */


/*grid-template-rows define as linhas do seu grid — ou seja, a altura de cada linha dentro do CSS Grid.

Pensa assim:
grid-template-columns controla as colunas (largura)  
grid-template-rows controla as linhas (altura)*/