@media screen and (max-width: 500px) {

    main {
        width: 100%; /*Imagem, ocupe no máximo a largura disponível dentro do seu container.*/
        margin: 0 auto;
        padding: 0 10px; /* pequeno respiro lateral */
    }

    .temple {
        grid-template-columns: 1fr; /* uma coluna */
        justify-content: center;
        margin: 0; /* remove deslocamentos */
    }

    .temple img {
        width: 100%; /* imagem se adapta à tela */
        height: auto;
        max-width: 100%; /* garante que não ultrapasse */
        box-shadow: 0 0 10px gray; /* sombra mais leve */
    }

     #hamburguer {
        display: block /*Aparece no Mobile*/
    }

    nav ul {
        display: none;
    }

    .card {
        width: 100%;
        box-sizing: border-box;
    }

    footer{
        margin-top: 20px;
    }
}






/* 

Quem é grid no seu layout é .temple, não o main.

Então a media query precisa ser aplicada no elemento que realmente usa grid

O que isso faz?
Quando a tela tiver 500px ou menos, o grid muda de 3 colunas para 1 coluna.

As imagens ficam uma embaixo da outra, ocupando toda a largura disponível.

Isso deixa o layout responsivo e fácil de visualizar no celular.*/